.body-container {
  display: flex;
  justify-content: center;
}

.container {
  min-width: 759px;
  max-width: 1200px;
  width: 1200px;
  padding: 0 20px;
}

.header {
  position: sticky;
  box-shadow: 0 2px 24px 0 rgba(83,92,90,.30);
  top: 0;
  left: 0;
  min-width: 850px;
  z-index: 100;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: white;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 90px;
  }

  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }

  .menu-bar-link {
    padding: 20px 20px;
    display: inline-block;
    font-size: 14px;
    color: #70544f;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: #c21313;
    }

    &.selected {
      color: #c21313;
    }
  }

  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #70544f;
  }

  .signin-button {
    background-color: transparent;
    color: #009471;
    height: 44px;
    width: 68px;
    border: none;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-left: 25px;

    &:hover {
      color: #006d54;
    }

    &.disabled {
      color: #bfb7b6;
      pointer-events: none;
    }
  }

  .currency-button {
    background-color: transparent;
    width: 30px;
    height: 48px;
    vertical-align: middle;
    text-align: center;
    color: #70544f;
    font-weight: 700;
    font-size: 14px;
    border: none;

    &:hover {
      color: #c21313;
    }

    &.selected {
      color: #c21313;
      pointer-events: none;
    }
  }
}
