.section-in-progress {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-in-progress-image-container {
  width: 420px;
  height: 300px;

  .image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}