.page-title {
  color: #70544f;
}

.pizzas-container {
  display: flex;

  .cart-section {
    margin-top: 5px;
    min-width: 272px;
    max-width: 272px;
  }

  .menu-section {
    margin-right: 20px;
    width: 100%;
    display: flex;
  }

  .menu-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }

  .menu-item {
    display: flex;
    width: calc(33.3% - 10px);
    margin: 5px;

    @media (max-width: 1023px) {
      width: calc(50% - 10px);
    }
  }
}
