.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ededed;
}

.logo {
  width: 90px;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.menu-bar-item {
  list-style-type: none;
}

.menu-bar-link {
  padding: 20px 20px;
  display: inline-block;
  font-size: 14px;
  color: #70544f;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.menu-bar-link:hover {
  color: #c21313;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signin-button {
  background-color: transparent;
  color: #009471;
  height: 44px;
  width: 68px;
  border: none;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.signin-button:hover {
  color: #006d54;
}

.currency-button {
  width: 100px;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  margin-right: 13px;
  background-color: white;
  color: #bfb7b6;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.currency-button:hover {
  color: #009471;
}

.currency-button:focus, .signin-button:focus {
  outline: 0;
  box-shadow: none!important;
}
